#login{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#log{
  height: 300px;
  width: 400px;
  background-color: white;
  position: relative;
}

#log h3{
  position: absolute;
  left: 200px;
  margin-top: 35px;
  transform: translate(-50%,-50%);
  color: black;
}

#info{
  position: absolute;
  inset: 80px 0px 0px 56px;
  width: 280px;
}

#info h4{
  padding-bottom: 13px;
}

#info .input-e{
  margin-top: 4px;
  font-size: 13px;
  width: 295px;
  height: 30px;
  padding-left: 10px;
}

.input-e:focus {
  outline: none;
}


.send-btn{
  margin-top: 15px;
  width: 295px;
  height: 30px;
  border: none;
  background-color: #f7c600;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.send-btn:hover{
  background-color: green;
  color: white;
  font-weight: 600;
  font-size: 15px;
}

.input-e,
.send-btn {
  box-sizing: border-box;
}

#register{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 260px;
  width: 400px;
  height: 40px;
  background-color: lightgray;
}

#register a{
  padding-left: 5px;
  text-decoration: none;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

#close{
  width: 30px;
  height: 30px;
  background-color: #f7c600;
  border-radius: 15px;
  position: absolute;
  inset: -15px 0px 0px 385px;
  z-index: 1;
  display: flex;
  justify-content: center;
}

#close img{
  width: 28px;
  height: 28px;
}